{{#extends "base"}}
  {{#block "title"}}Your Profile{{/block}}
  {{#block "content"}}
    <h1 class="mb-0">Your Profile</h1>

    <div class="row g-4 py-5 row-cols-2 row-cols-md-2">
      <div class="col d-flex align-items-center justify-content-center">
        <div>
          <h3 class="fs-2"><i class="fa-regular fa-user"></i> MSW</h3>
          <p>{{result.msw_name}}</p>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div>
          <h3 class="fs-2"><i class="fa-regular fa-calendar"></i>
            Survey Date</h3>
          <p id="date">{{dateFormat result.date "Do MMM YYYY"}}</p>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-4 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div style="height:7em" class="card-header pt-3">
            <h4 class="my-0 fw-normal">Disturbed Schedule & Poor Health</h4>
          </div>
          <div class="card-body">
            <h4
              class="my-0 fw-normal"
            >{{result.scoreDescription.poorHealth}}</h4>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div style="height:7em" class="card-header pt-3">
            <h4 class="my-0 fw-normal">Lack of Finances</h4>
          </div>
          <div class="card-body">
            <h4 class="my-0 fw-normal">{{result.scoreDescription.finances}}</h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div style="height:7em" class="card-header pt-3">
            <h4 class="my-0 fw-normal">Lack of Family Support</h4>
          </div>
          <div class="card-body">
            <h4
              class="my-0 fw-normal"
            >{{result.scoreDescription.familySupport}}</h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div style="height:7em" class="card-header pt-3">
            <h4 class="my-0 fw-normal">Esteem</h4>
          </div>
          <div class="card-body">
            <h4 class="my-0 fw-normal">{{result.scoreDescription.esteem}}</h4>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mb-4">Details</h3>

    <table class="table">
      <tbody>
        <tr>
          <td>Age</td>
          <td class="text-end">{{result.age}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td class="text-end">{{result.gender}}</td>
        </tr>
        <tr>
          <td>Race</td>
          <td class="text-end">{{result.race}}</td>
        </tr>
        <tr>
          <td>Marital Status</td>
          <td class="text-end">{{result.marital_status}}</td>
        </tr>
        <tr>
          <td>Highest Education Level</td>
          <td class="text-end">{{result.education_level}}</td>
        </tr>
        <tr>
          <td>Employment Status</td>
          <td class="text-end">{{result.employment_status}}</td>
        </tr>
        <tr>
          <td>Main Caregiver?</td>
          <td class="text-end">{{result.main_caregiver}}</td>
        </tr>
        <tr>
          <td>Caregiving Length</td>
          <td class="text-end">{{result.caregiving_length}}</td>
        </tr>
      </tbody>
    </table>

    <h3 class="mt-5 mb-4">m-CRA 21 Scores</h3>

    <table class="table">
      <thead>
        <tr>
          <th style="width:70%" scope="col">Poor Health</th>
          <th style="width:30%" scope="col" class="text-end">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each sectionObj.poorHealthArr}}
          <tr>
            <td>{{this.question}}</td>
            <td class="text-end">
              {{#if_eq this.result "1"}}Strongly Disagree{{/if_eq}}
              {{#if_eq this.result "2"}}Disagree{{/if_eq}}
              {{#if_eq this.result "3"}}Neither Agree nor Disagree{{/if_eq}}
              {{#if_eq this.result "4"}}Agree{{/if_eq}}
              {{#if_eq this.result "5"}}Strongly Agree{{/if_eq}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th style="width:70%" scope="col">Finances</th>
          <th style="width:30%" scope="col" class="text-end">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each sectionObj.financesArr}}
          <tr>
            <td>{{this.question}}</td>
            <td class="text-end">
              {{#if_eq this.result "1"}}Strongly Disagree{{/if_eq}}
              {{#if_eq this.result "2"}}Disagree{{/if_eq}}
              {{#if_eq this.result "3"}}Neither Agree nor Disagree{{/if_eq}}
              {{#if_eq this.result "4"}}Agree{{/if_eq}}
              {{#if_eq this.result "5"}}Strongly Agree{{/if_eq}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th style="width:70%" scope="col">Lack of Family Support</th>
          <th style="width:30%" scope="col" class="text-end">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each sectionObj.familySupportArr}}
          <tr>
            <td>{{this.question}}</td>
            <td class="text-end">
              {{#if_eq this.result "1"}}Strongly Disagree{{/if_eq}}
              {{#if_eq this.result "2"}}Disagree{{/if_eq}}
              {{#if_eq this.result "3"}}Neither Agree nor Disagree{{/if_eq}}
              {{#if_eq this.result "4"}}Agree{{/if_eq}}
              {{#if_eq this.result "5"}}Strongly Agree{{/if_eq}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th style="width:70%" scope="col">Caregiver Esteem</th>
          <th style="width:30%" scope="col" class="text-end">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each sectionObj.esteemArr}}
          <tr>
            <td>{{this.question}}</td>
            <td class="text-end">
              {{#if_eq this.result "1"}}Strongly Disagree{{/if_eq}}
              {{#if_eq this.result "2"}}Disagree{{/if_eq}}
              {{#if_eq this.result "3"}}Neither Agree nor Disagree{{/if_eq}}
              {{#if_eq this.result "4"}}Agree{{/if_eq}}
              {{#if_eq this.result "5"}}Strongly Agree{{/if_eq}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <button class="mt-3 mb-4 btn btn-success" id="printBtn"><i
        class="fa-solid fa-print"
      ></i>
      Print</button>
    <a class="mt-3 mb-4 btn btn-primary" href="/">Do another survey</a>
  {{/block}}

  {{#block "js"}}
    <script>
      document.getElementById("printBtn").addEventListener("click", ()=>{
      window.print() });
    </script>
  {{/block}}
{{/extends}}
